@import "../../styles/presets";

.converter_result {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__text_value {
    font-size: 2em;
    margin: 4px 0.5rem 4px 0;
  }

  &__currency_block {
    display: flex;
    flex-direction: column;
    background-color: $gray-light;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 4px 0.5rem 4px 0;
  }

  &__currency_code {
    font-family: sans-serif;
    font-weight: bold;
  }

  &__currency_name {
    font-size: 0.8em;
  }
}