@import "../../styles/presets";

.mode_controller {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2em;

  &__button {
    width: 10em;
    padding: 0.5em;
    margin: 4px;
    background-color: $gray;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
  }

  &_active_button {
    background-color: $blue;
  }

  &__current_mode {
    border: 2px solid orangered;
  }
}