@import "../../styles/presets";

.rate_list {
  padding: 0 0.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;

  &__base_block {
    margin-bottom: 2em;
  }

  &__base_pane {
    font-size: 1.5em;
    margin-bottom: 6px;
  }

  &__help_text {
    font-size: 0.9em;
    color: $gray-dark;
  }
}