@import "../../styles/presets";

.converter {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;

  &__request_block {
    padding: 0.5em;
  }

  &__request_field {
    padding: 4px 8px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 1.3em;
    margin: 0 0.5em 0.5em 0;
  }

  &__calc_button {
    padding: 5px 15px;
    font-size: 1.3em;
    color: $white;
    border-radius: 5px;
    background-color: $green;
    transition: all 300ms;
    cursor: pointer;

    &:hover {
      background-color: $green-light;
    }
  }

  &__error_text {
    margin: 0 0.5em 1em 0.5em;
    padding: 0.5em;
    font-size: 0.9em;
    background-color: $red;
    color: $white;
    border-radius: 5px;
  }

  &__help_text {
    padding-left: 0.5em;
    font-size: 0.9em;
    color: $gray-dark;
  }

  &__result {
    font-size: 2em;
    padding: 1rem 0.5rem;
  }
}