@import "../../styles/presets";

.rate_cards {
  padding: 0.5em;

  &__filter_block {
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 1em;
    background-color: $gray-light;
    transition: all 300ms;

    &:hover {
      border: 1px solid $blue;
      background-color: $blue;
    }

    input {
      width: 20em;
      padding: 4px 8px;
      border: none;
      border-radius: 5px;
    }
  }

  &__cards_block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 8px;
  }

  &__card {
    padding: 5px;
    height: 8em;
    color: $black;
    background-color: $gray-light;
    border: 1px solid $gray;
    border-radius: 5px;
    transition: all 300ms;

    display: flex;
    flex-direction: column;

    &:hover {
      color: $white;
      border: 1px solid $blue;
      background-color: $blue;
    }
  }

  &__code {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4em;
  }

  &__name {
    font-size: 0.9em;
  }

  &__rate {
    margin-top: auto;
  }
}